@model Cliente

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1 class="text-center my-4">Delete Cliente</h1>

<h3 class="text-center">Você tem certeza que deseja deletar isso?</h3>

<div class="container mt-4">
    <h4>Detalhes Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NomeCompleto)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RG)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RG)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Complemento)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UF)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UF)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NomePai)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NomePai)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NomeMae)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NomeMae)
        </dd>
    </dl>

    <div class="text-center mt-4">
        <form asp-action="Delete" asp-route-id="@Model.Id" id="deleteForm" method="post">
            <input type="hidden" asp-for="Id" />
            <button type="button" class="btn btn-danger btn-lg" onclick="confirmDelete()">Delete</button>
            <a asp-action="Index" class="btn btn-outline-secondary btn-lg ms-2" id="backToList">Back to List</a>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmDelete() {
            Swal.fire({
                title: 'Você tem certeza?',
                text: "Esta ação não pode ser desfeita!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sim, excluir!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('deleteForm').submit();
                }
            });
        }

    </script>
